@model Identity.Service.Application.Services.Email.Models.RegisterConfirmationEmailViewModel

<h2>Email Confirmation</h2>

<a href='@Model.ConfirmationLink'>Click here to Confirm your registration</a>
