@section styles {
    <style>
        ::-moz-selection {
            background: #b3d4fc;
            text-shadow: none;
        }

        ::selection {
            background: #b3d4fc;
            text-shadow: none;
        }

        .page_404 {
            padding: 30px 10px;
            font-size: 20px;
            line-height: 1.4;
            color: #737373;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

            .page_404 h1 {
                margin: 0 10px;
                font-size: 50px;
                text-align: center;
            }
    </style>
}

<div clas="error-page">
    <div class="page_404 ">
        <div class="page_404_body">
            <h1>Page Not found <span>:(</span></h1>
        </div>
    </div>
</div>